body {
    font-family: sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
}
        
h1 {
    text-align: center;
    color: #000000;
}
        
.contenedor {
    background-color:#c5c1d6;
    padding: 20px;
}
        

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    color: #000000;
}
        
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
        
button {
    background-color: #968eb7;
    color: rgb(0, 0, 0);
    padding: 12px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;

}
        
.result-pantalla {
    margin-top: 20px;
    padding: 15px;
    background-color: #968eb7;
    min-height: 60px;
    font-family: 'Courier New', monospace;
}